---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Experiencia laboral | Alexis">
  <section class="max-w-5xl mx-auto flex flex-col gap-6 my-3">
    <h1 class="text-3xl lg:text-5xl font-bold mb-6 text-center">
      Experiencia Laboral
    </h1>

    <h4 class="text-2xl lg:text-4xl">Freelance</h4>
    <div class="prose prose-invert max-w-5xl">
      <span class="text-yellow-300">10/2024 - Presente</span>
      <p class="text-neutral-300 mb-6">
        Actualmente estoy trabajando como desarrollador freelance, lo que me
        permite tener la flexibilidad de elegir proyectos que se alineen con mis
        intereses y habilidades. En este rol, he tenido la oportunidad de
        colaborar con diversos clientes, entendiendo sus necesidades y
        ofreciendo soluciones personalizadas que aporten valor a sus negocios.
        He trabajado en una variedad de proyectos, desde el desarrollo de sitios
        web hasta aplicaciones más complejas, utilizando tecnologías modernas y
        mejores prácticas de desarrollo. Esta experiencia me ha permitido
        mejorar mis habilidades técnicas, así como también mis capacidades de
        gestión del tiempo y comunicación con los clientes. Estoy entusiasmado
        por seguir creciendo en este campo y enfrentar nuevos desafíos que me
        permitan seguir aprendiendo y aportando valor a los proyectos en los que
        participo.
      </p>

      <h5 class="py-2 text-2xl">Proyectos</h5>

      <ul class="text-neutral-300 mb-6 space-y-2">
        <li>
          <h5 class="text-neutral-200 underline font-semibold">E-commerce:</h5> Creación
          de una tienda en línea, con funcionalidades de carrito de compras y pasarela
          de pago con Pypal. También tiene integrado un panel de administrador para
          manejar productos, categorías y órdenes personales y de los usuarios.<br
          />
          <span class="text-yellow-300/80">Tecnologías utilizadas:</span> Next.js,
          Postgres, Prisma, TailwindCSS, TypeScript, PayPal-API, Vercel.
        </li>
        <li>
          <h5 class="text-neutral-200 underline font-semibold">
            Proyecto Odoo:
          </h5>
          Implementación de una vista Gantt personalziada para aplicación hotelera.
          Esta vista permite a los usuarios gestionar reservas de habitaciones de
          manera visual e intuitiva, facilitando la administración y optimización.<br
          />
          <span class="text-yellow-300/80">Tecnologías utilizadas:</span> Odoo 17,
          Postgres, Python, XML, JavaScript, Owl.
        </li>
        <li>
          <h5 class="text-neutral-200 underline font-semibold">
            Bot WhatsApp:
          </h5>
          Desarrollo de un bot personalizado que agenda turnos para una barberia
          basandose en la agenda del local. El bot interactua con los clientes a
          través de WhatsApp, permitiendoles seleccionar servicios, horarios y confirmando
          las citas de manera automatica. También envía recordatorios de los turnos
          agendados, mejorando la experiencia del cliente y optimizando la gestión
          de citas para el negocio.<br />
          <span class="text-yellow-300/80">Tecnologías utilizadas:</span> Node.js,
          TypeScript, FireStore, Twilio-API, MercadoPago-API, DigitalOcean.
        </li>
      </ul>
    </div>

    <h4 class="text-2xl lg:text-4xl">Bigger</h4>

    <div class="prose prose-invert max-w-5xl">
      <h4 class="text-xl lg:text-2xl">Desarrollor de software</h4>
      <span class="text-yellow-300">02/2023 - 10/2024</span>
      <p class="text-neutral-300 mb-6">
        Como desarrollador de software en Bigger he tenido la oportunidad de
        trabajar en una variedad de proyectos desafiantes y emocionantes. He
        creado soluciones personalizadas para clientes de diferentes industrias,
        utilizando el stack JavaScript / TypeScript.<br /> He trabajado en el desarrollo
        de aplicaciones web full-stack robsutas, integrando APIs y servicios de terceros
        para mejorar la funcionalidad y la experiencia del usuario. Además, he colaborado
        estrechamente con equipos multifuncionales, incluyendo diseñadores, gerentes
        de proyecto y otros desarrolladores, para asegurar que los proyectos se entreguen
        a tiempo y cumplan con los requisitos del cliente.<br /> Durante mi tiempo
        en Bigger, he aprendido a adaptarme rápidamente a nuevas tecnologías y metodologías
        de desarrollo además de mejorar mis habilidades técnicas y de comunicación.
      </p>

      <h5 class="py-2 text-2xl">Proyectos</h5>

      <ul class="text-neutral-300 mb-6 space-y-2 text-pretty">
        <li>
          <h5 class="text-neutral-200 underline font-semibold">
            Zenn Software:
          </h5>
          Aplicación web que permite a los usuarios crear su logo personalizado brindandoles
          los diseños listos para utilizar en las distintas redes sociales, además
          de contar con un editor para realizar cambios en los diseños. También cuenta
          con la generación de marca personal a través de IA completando un pequeño
          formulario acerca del negocio.<br />
          <span class="text-yellow-300/80">Tecnologías utilizadas:</span> Angular
          17, SCSS, NestJS, MySQL, Docker, AWS S3, GitHub Actions, OpenAI-API, Jest,
          Cypress.
        </li>
        <li>
          <h5 class="text-neutral-200 underline font-semibold">
            Bigger Academy:
          </h5> Aplicación web para aprender JavaScript desde cero y en español,
          cuenta con un sistema de autenticación y autorización. Los usuarios pueden
          ver los cursos disponibles, inscribirse en ellos y realizar un seguimiento
          de su progreso a través de una integración con Slak. También cuneta con
          una capa de IA que se encarga de la primera corrección de los estudiantes
          dandoles feedback inmediato.
          <span class="text-yellow-300/80">Tecnologías utilizadas:</span> React,
          TailwindCSS, NestJS, Postgres, Docker, AWS S3, GitHub Actions, OpenAI-API,
          Jest, Cypress, SonarQube-API, Slak-API.
        </li>
      </ul>
    </div>

    <h4 class="text-2xl lg:text-4xl">Mind Hub</h4>

    <div class="prose prose-invert max-w-5xl">
      <h4 class="text-xl lg:text-2xl">Bootcamp</h4>
      <span class="text-yellow-300">05/2022 - 09/2022</span>

      <p class="text-neutral-300 mb-6">
        Completé más de 700 hrs de trabajo full-time en un entorno Agile,
        aplicando SCRUM para planificar sprints, daily stand-ups y
        retrospectives.<br /> Diseñé e implementé dos proyectos colaborativos: Tienda
        online Full-Stack. Tienda veterinaria: que consumía datos de una API pública,
        implementando componentes reutilizables y filtros dinámicos. Configuré la
        integración continua básica con Git y GitHub, asegurando flujos de trabajo
        de revisión de código (pull requests) y gestión de versiones.<br /> Colaboré
        en equipos de 4 personas, afinando mis habilidades de comunicación y resolución
        de conflictos para cumplir entregables en los plazos establecidos.
      </p>

      <h5 class="py-2 text-2xl">Proyectos</h5>

      <ul class="text-neutral-300 space-y-2">
        <li>
          <span class="text-yellow-300/80">Homebanking: </span>
          Web-app que gestiona un homebanking en linea con un robusto manejo de inicio
          de sesión basado en roles para separar claramente el alcance de funciones
          que puede ejecutar cada usuario dentro de la aplicación. Como cliente,
          tenemos acceso a los servicios que ofrece la entidad bancaria, tales como:
          crear una cuenta, solicitar prestamos, solicitar tarjetas de crédito y/o
          débito, transacciones a cuentas propias o a terceros y la opción de eliminar
          cuentas o tarjetas.<br /> Como administrador tenenmos la posibilidad de
          dar de alta o baja a los usuarios registrados en la plataforma, aprobar
          o rechazar las solicitudes de prestamos y tarjetas de crédito y/o débito,
          y ver todas las transacciones realizadas por los clientes.<br /> Esta web-app
          cumple con todos los protocolos de seguridad que proporciona Spring Security.
        </li>
        <li>
          <span class="text-yellow-300/80">tecnologías utilizadas:</span>
          JAVA, Spring-SpringBoot, JPA, Spring Security, REST, JDBC, JavaScript,
          CDN-Vue.js, HTML5, CSS3, Bootstrap, SwitAlert2, Axios, Postgres, Postman.
        </li>
        <li>
          <span class="text-yellow-300/80">Tienda online Full-Stack:</span> proyecto
          integrador final de una tienda de vinilos que permite a los usuarios ver
          el catalogo de productos, añadirlos al carrito y realizar la compra. También
          cuenta con un panel de administrador para manejar productos, stock y roles
          de usuarios.
        </li>
        <li>
          <span class="text-yellow-300/80">tecnologías utilizadas:</span>
          JAVA, Spring-SpringBoot, JPA, Spring Security, REST, JDBC, JavaScript,
          CDN-Vue.js, HTML5, CSS3, Bootstrap, SwitAlert2, Axios, Postgres, Postman.
        </li>
        <li>
          <span class="text-yellow-300/80">PetShop: </span>
          primer proyecto integrador de una tienda virtual de medicamentos y juguetes
          para mascotas. Este simple proyecto cuenta con un catalogo de productos,
          un carrito de compras y un formulario de contacto.
          <span class="text-yellow-300/80">tecnologías utilizadas: </span>
          HTML, CSS-Bootstrap, CDN-Vue.js, JavaScript, SweetAlert2, Axios.
        </li>
        <li>
          <span class="text-yellow-300/80">tecnologías utilizadas:</span>
          JAVA, Spring-SpringBoot, JPA, Spring Security, REST, JDBC, JavaScript,
          CDN-Vue.js, HTML5, CSS3, Bootstrap, SwitAlert2, Axios, Postgres, Postman.
        </li>
      </ul>
    </div>
  </section>
</MainLayout>
