---
import ProjectCard from "@/components/ProjectCard.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection(
  "projects",
  (project) => project.data
);
---

<MainLayout title="Proyectos | Alexis">
  <section class="lg:max-w-5xl lg:mx-auto">
    <h1 class="text-3xl lg:text-5xl font-bold mb-6 text-center">Proyectos</h1>

    <div class="grid md:grid-cols-2 gap-6">
      {projects.map((p) => <ProjectCard project={p} />)}
    </div>
  </section>
</MainLayout>
