<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#cac082_0%,#8b8a5a_50%,#cac082_100%)]"
    ></span>
    <div
      class="w-full py-2 px-3 text-sm lg:text-[12px] text-yellow-200 rounded-full bg-neutral-800 backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
